@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<h1 class="about-heading">Financial Security and Decades of Experience</h1>

<p class="about-content">The Berkshire Hathaway Homestate Companies is a group of six insurance carriers that are part of the Berkshire Hathaway group of insurance companies. Headquartered in Omaha, Nebraska, with more than 40 years in business, BHHC has grown from a regional organization to a national insurance group, offering insurance products from coast to coast.
</p>

<p class="about-content">
  Each BHHC insurance company has earned an A++ (Superior) financial strength rating from A.M.Best (<span class="col-org">as of December 11, 2018</span>). Our unparalleled financial strength and superior claims-paying ability sets BHHC apart from other insurance companies in the industry.
</p>
<h3 class="about-heading">We focus on four main insurance products:</h3> 
<ul class="col-org">
  <li>Commercial Auto</li>
  <li>Commercial Property</li>
  <li>Public Entity</li>
  <li>Workers Compensation</li>
</ul>
  
  
  
  

