@{
  ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
  Berkshire Hathaway Homestate<br />
  1 California St, San Francisco, CA 94111<br />
  <abbr title="Phone">P:</abbr>
  (415) 433-1650
</address>

<address>
  <strong>Marketing:</strong> <a href="mailto:Marketing-WC@bhhc.com">Marketing-WC@bhhc.com</a>
</address>
 



